asgiref==3.11.1
black==26.3.1
click==8.3.3
colorama==0.4.6
Django==6.0.5
django-cors-headers==4.9.0
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
python-dotenv==1.2.2
pytokens==0.4.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260510
typing_extensions==4.15.0
tzdata==2026.2
